* {
  margin: 0;
  padding: 0;
}

div {
  font-size: 20px;
}

.block1 {
  background-color: aqua;
  margin: 20px;
  width: 250px;
  height: 120px;
  display: inline-block;
}

.block2 {
  background-color: bisque;
  left: 0;
  right: 0;
  margin-left: 10px;
  margin-right: 10px;
}